<table>
  <tbody>
    <tr>
      <td>
        <span>
          <button style="margin: 10px;" class="btn" [ngClass]="{'btn-primary' : realized === 'ordered', 'btn-secondary' : realized !== 'ordered'}" (click)="changeData('ordered')">Ordered</button>
          <button style="margin: 10px;" class="btn" [ngClass]="{'btn-primary' : realized === 'realized', 'btn-secondary' : realized !== 'realized'}" (click)="changeData('realized')">Realized</button>
          <button style="margin: 10px;" class="btn" [ngClass]="{'btn-primary' : realized === 'archived', 'btn-secondary' : realized !== 'archived'}" (click)="changeData('archived')">Archived</button>
        </span>
      </td>
    </tr>
  </tbody>
</table>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th width="50%">Order</th>
      <th width="50%">Details</th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td width="50%">
      <table class="table">
        <tr *ngFor="let item of orders; let i = index">
          <td>
            <div class="card">
              <div class="card-header">
                {{ item.name }}
              </div>
              <div class="card-body">
                <p class="card-text">{{ item.shippingType }}</p>
                <p class="card-text">{{ item.address }}</p>
                <p class="card-text">{{ item.message }}</p>
                <span>
                  <button [hidden]="realized !== 'ordered'" class="btn btn-success" (click)="realize(i)">Realize</button>
                  <button [hidden]="realized !== 'realized'" class="btn btn-success" (click)="archive(i)">Archive</button>
                  <button class="btn btn-primary" (click)="details(i)">Details</button>
                  <button [hidden]="realized !== 'archived'" class="btn btn-danger" (click)="removeOrder(i)">Remove</button>
                </span>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </td>
    <td width="50%">
      <app-order-details [order]="selectedOrder"></app-order-details>
    </td>
  </tr>
  </tbody>
</table>
