<h1>Products</h1>

<div class="row top-buffer" *ngFor="let row of products">
<div class="col-md">
    <app-product *ngIf="row?.length > 0" [product]="row[0]"></app-product>
</div>
<div class="col-md">
    <app-product *ngIf="row?.length > 1" [product]="row[1]"></app-product>
</div>
<div class="col-md">
    <app-product *ngIf="row?.length > 2" [product]="row[2]"></app-product>
</div>
<div class="col-md">
    <app-product *ngIf="row?.length > 3" [product]="row[3]"></app-product>
</div>
</div>
<button *ngIf="show" class="btn" (click)="showMore()">View More</button>

<!-- <div class="row top-buffer" *ngFor="let productsRow of products">
    <div class="col-md" *ngFor="let product of productsRow">
        <app-product [product]="product"></app-product>
    </div>
</div> -->