<div class="input-group mb-3">
    <div class="input-group-prepend">
        <button class="btn btn-outline-secondary" type="button" (click)="searchBy(search.value)">Search</button>
    </div>
    <input #search type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" (keyup.enter)="searchBy(search.value)">
</div>

<table class="table">
    <thead class="thead-light">
        <tr>      
            <th *ngFor="let head of headers; let i = index" width="head.width" scope="col" (click)="changeOrder(i)">
                {{head.name}} <span [ngClass]="{
                    'fa': true,
                    'fa-sort-up': head.sortable && head.order === 'asc',
                    'fa-sort-down': head.sortable && head.order === 'desc',
                    'fa-sort': head.sortable && head.order === 'none'
                }" style="margin-left: 10px"></span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of getPage()">
                <td width="10%"><img style="height: 120px; width: 120px" src="{{product.avatar}}" alt="Card image cap"></td>
                <td width="15%">
                    <app-product-specification [product]="product"></app-product-specification>
                </td>
                <td width="15%">
                    <app-product-basket [product]="product"></app-product-basket>
                </td>
                <td width="10%">{{ product.price | currency: 'EUR' }}</td>
                <td width="40%">{{ product.description }}</td>
                <td width="10%">{{ product.amount }}</td>
        </tr>
    </tbody>
</table>
<ngb-pagination [(collectionSize)]="total" [(page)]="page" [boundaryLinks]="true" (pageChange)="onPageChange($event)"></ngb-pagination>