<div class="row">
    <div class="col-1">
        Provider:country
            <div class="form-check">
                <input class="form-check-input" type="checkbox" attr.id="providersCheck{{$i}}" [(ngModel)]="providers[i].checked" (change)="checkAll(provider)">
                <label class="form-check-label" attr.for="providersCheck{{$i}}">
                    {{provider.value}}
                </label>
            </div>
        </div>
        <br/>
        
        Os:
        <div *ngFor="let os of oses; let i = index">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" attr.id="osesCheck{{$i}}" [(ngModel)]="oses[i].checked" (change)="checkAll(os)">
                <label class="form-check-label" attr.for="osesCheck{{$i}}">
                    {{os.value}}
                </label>
            </div>
        </div>
        <br/>

        Memory:
        <div *ngFor="let memory of memories; let i = index">
            <div class="form-check">
            <input class="form-check-input" type="checkbox" attr.id="memoriesCheck{{$i}}" [(ngModel)]="memories[i].checked" (change)="checkAll(memory)">
            <label class="form-check-label" attr.for="memoriesCheck{{$i}}">
                {{memory.value}} GB
            </label>
            </div>
        </div>
        <br/>
        
        Ram:
        <div *ngFor="let ram of rams; let i = index">
            <div class="form-check">
            <input class="form-check-input" type="checkbox" attr.id="ramsCheck{{$i}}" [(ngModel)]="rams[i].checked" (change)="checkAll(ram)">
            <label class="form-check-label" attr.for="ramsCheck{{$i}}">
                {{ram.value}} GB
            </label>
            </div>
        </div>
    </div>
    <div class="col-11">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button id="searchButton" class="btn btn-outline-secondary" type="button" (click)="searchBy(search.value)">Search</button>
            </div>
            <input #search id="searchInput" type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" (keyup.enter)="searchBy(search.value)">
        </div>
        
        <table class="table">
            <thead class="thead-light">
                <tr>      
                    <th *ngFor="let head of headers; let i = index" width="head.width" scope="col" (click)="changeOrder(i)">
                        {{head.name}} <span [ngClass]="{
                            'fa': true,
                            'fa-sort-up': head.sortable && head.order === 'asc',
                            'fa-sort-down': head.sortable && head.order === 'desc',
                            'fa-sort': head.sortable && head.order === 'none'
                        }" style="margin-left: 10px"></span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of getPage()">
                        <td width="10%"><img style="height: 120px; width: 120px" src="{{product.avatar}}" alt="Card image cap"></td>
                        <td width="15%">
                            <app-product-specification [product]="product"></app-product-specification>
                        </td>
                        <td width="15%">
                            <app-product-basket [product]="product"></app-product-basket>
                        </td>
                        <td width="10%">{{ product.price | currency: 'EUR' }}</td>
                        <td width="40%">{{ product.description }}</td>
                        <td width="10%">{{ product.amount }}</td>
                </tr>
            </tbody>
        </table>
        <ngb-pagination [(collectionSize)]="total" [(page)]="page" [boundaryLinks]="true" (pageChange)="onPageChange($event)"></ngb-pagination>
    </div>
</div>
