<td><img style="height: 25px; padding: 25px;" src="{{product.avatar}}" alt="Card image cap"></td>
<td>{{ product.name }}</td>
<td>
    <span *ngIf="product.amount > 0; else notAvailableBlock">
      <button class="btn" type="button" (click)="descreaseOrder()">
        <span class="fa fa-minus"></span>
      </button>
      <input readonly type="number" style="margin-right: 10px; margin-left: 10px; max-width: 40px; text-align: center;" [ngModel]="inBasket">
      <button *ngIf="product.amount > inBasket" class="btn" type="button" (click)="increaseOrder()">
        <span class="fa fa-plus"></span>
      </button>
    </span>
    <ng-template #notAvailableBlock>
        Product not available.
    </ng-template>
</td>
<td>{{ product.price | currency: 'EUR' }}</td>
<td>{{ product.description }}</td>
<td>{{ product.amount }}</td>