<div class="container">
  <h1 id="CompanyTitle">Ecommerce</h1>
  <h3 id="CompanyDescription">
    Nasza firma istnieje od 1998 roku. Jesteśmy dominującym przedsiębiorstwem w naszej branży na Podkarpaciu.
    Zajmujemy się w głownie sprzedażą detaliczną jak i hurtową telefonów komórkowych oraz akcesoriów do nich przeznaczonych.
  </h3>
</div>

<div *ngFor="let kraj of kraje">
  <p>{{ kraj.country }}</p>
  <p>{{ kraj.population }}</p>
</div>

<a href="#" class="btn btn-info">Info</a>
<button type="button" class="btn btn-blue">Info</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn-blue">Info</button>